/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	color: #4b4b4b;
	letter-spacing: 0.15px;
	font-family: "Roboto";
	background: #f5f5f5;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
._ibg {
	position: relative;
}
/* ------------------------------ */

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1050px;
	padding: 0 15px;
	margin: 0 auto;
}

.head {
	max-width: 583px;
}

.head__subtitle {
	margin-bottom: 33px;
	padding: 0px 0px 0px 34px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	background: url("../img/icons/Tringle1.svg") 0 -2px no-repeat;
}

.head__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #02133c;
}

/* ------------------------------ */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.header__info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	font-size: 12px;
	line-height: 183%;
	color: #fff;
	letter-spacing: 0.15px;
	min-height: 66px;
	margin-bottom: 28px;
}

.header__body {
	display: flex;
	flex-wrap: wrap;
	gap: 31px;
}

.header__work-time {
	padding-left: 34px;
	background: url("../img/Header/watch1.svg") 0 0 no-repeat;
}

.header__call-us {
	padding-left: 34px;
	background: url("../img/Header/phone2.svg") 0 0 no-repeat;
}

.header__phone-number {
	color: #fff;
}

/* ------------------------------ */
.logo {
	max-width: 174px;
}
.logo__image {
	width: 100%;
}

/* ------------------------------ */

.button {
	display: inline-flex;
	align-items: center;
	padding: 0px 11px 0 20px;
	gap: 19px;
	min-height: 48px;
	background-color: #c40b0b;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
}

.button:hover {
	opacity: 0.8;
}

/* ------------------------------ */

.navigation {
	display: flex;
	flex-wrap: wrap;
	min-height: 60px;
	padding: 0px 40px;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
}

.navigation__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 37px;
}

.navigation__link {
	color: #02133c;
}

.navigation__arrow {
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
}

.navigation__search-link {
	margin-right: 22px;
}

/* ------------------------------ */

.hero {
	position: relative;
	padding: 406px 0px 312px 0px;
}
.hero__container {
	position: relative;
	z-index: 2;
}
.hero__title {
	max-width: 583px;
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 48px;
}

.hero__main-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.hero__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: top;
}

/* ------------------------------ */

.who-we-are {
	position: relative;
}
.who-we-are__container {
	padding: 100px 87px 354px 87px;
	background-color: #ffffff;
	margin-top: -80px;
	position: relative;
}
.who-we-are__container::before {
	content: "";
	position: absolute;
	width: 642px;
	height: 450px;
	top: 0;
	right: 0;
	background: url("../img/decoration/Detaildecoration1.svg") 0 0 no-repeat;
}
.who-we-are__head {
	margin-bottom: 36px;
}

.who-we-are__text {
	margin-bottom: 54px;
}
.who-we-are__image {
	position: relative;
}
.who-we-are__puppy {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	object-fit: cover;
}

/* ------------------------------ */

.promise {
	padding: 220px 0 122px 0;
}

.promise__head {
	margin-bottom: 68px;
}

.promise__container {
}

.promise__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0 -12px;
}

.promise__item {
	padding: 0px 12px;

	flex: 1 1 33.333%;
}

.item-promise {
	display: flex;
	align-items: flex-start;
}

.item-promise__image {
	flex: 0 0 63px;
}

.item-promise__body {
	padding: 0px 0px 0px 23px;
}

.item-promise__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.39;
	color: #02133c;
}
.item-promise__title:not(:last-child) {
	margin-bottom: 20px;
}

.item-promise__text {
	line-height: 1.5;
}

/* ------------------------------ */

.video {
	padding: 112px 0px 120px 0px;
	position: relative;
}

.video__container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.video__body {
	position: relative;
	z-index: 5;
}

.video__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	max-width: 411px;
	color: #ffffff;
}

.video__title:not(:last-child) {
	margin-bottom: 26px;
}

.video__play {
	width: 85px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 85px;
	border-radius: 50%;
	background-color: #ffffff;
}

.video__main-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.video__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

/* ------------------------------ */

.services {
	position: relative;
	padding: 110px 0px 122px 0px;
}

.services::before {
	content: "";
	position: absolute;
	width: 642px;
	height: 450px;
	top: 0;
	left: 0;
	background: url("../img/decoration/Gears2.svg") 0 0 no-repeat;
}

.services::after {
	content: "";
	position: absolute;
	width: 642px;
	height: 450px;
	bottom: 0;
	right: 0;
	background: url("../img/decoration/Gears3.svg") 0 0 no-repeat;
}

.services__container {
	display: flex;
	flex-direction: column;
}

.services__head {
	margin-bottom: 78px;
}

.services__items {
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0 -12px 66px;
}

.services__item:hover {
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.services__item {
	padding: 0 12px;
	flex: 1 1 33.333%;
	transition: all 0.2s ease 0s;
}

.services__button {
	align-self: center;
}

.item-services {
	display: flex;
	background-color: #ffffff;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 44px;
}

.item-services__icon {
	flex: 0 0 63px;
	margin-bottom: 33px;
}

.item-services__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #02133c;
}

.item-services__title:not(:last-child) {
	margin-bottom: 20px;
}

.item-services__text {
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.15px;
}

/* ------------------------------ */

.served {
	background: #02133c;
	text-align: center;
	font-weight: 900;
	padding: 130px 0px 210px 0px;
	position: relative;
}
.served::before {
	content: "";
	position: absolute;
	width: 642px;
	height: 450px;
	top: 0;
	right: 0;
	background: url("../img/decoration/Detaildecoration1.svg") 0 0 no-repeat;
}
.served::after {
	content: "";
	position: absolute;
	width: 642px;
	height: 450px;
	bottom: 0;
	left: 0;
	background: url("../img/decoration/Gears4.svg") 0 0 no-repeat;
}
.served__container {
}
.served__body {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
.served__form {
	flex: 0 1 585px;
}
.served__info {
	flex: 0 1 324px;
}
.served__info *:not(:last-child) {
	margin-bottom: 46px;
}
.served__subtitle {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
}
.served__number {
	font-size: 96px;
	line-height: 56px;
	text-align: center;
	color: #c40b0b;
}
.served__text {
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
}

/* ------------------------------ */

.form {
	display: flex;
	background-color: #ffffff;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 21px;
	padding: 76px 58px 76px 58px;
}

.form__title {
	flex: 1 1 auto;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: #02133c;
}

.form__input {
	flex: 1 1 224px;
	min-height: 48px;
	padding: 0px 0px 0px 24px;
	background: #f5f5f5;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #959595;
}

.form__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #959595;
}

.form__textarea {
	flex: 1 1 470px;
	min-height: 180px;
	padding: 17px 24px 0px 24px;
	resize: none;
}

.form__input {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #959595;
}

.form__button {
	display: inline-flex;
	justify-content: flex-end;
}

/* ------------------------------ */

.gallery {
	position: relative;
	padding: 0px 0px 260px 0px;
}

.gallery::after {
	content: "";
	position: absolute;
	width: 642px;
	z-index: -1;
	height: 450px;
	bottom: 0;
	left: 0;
	background: url("../img/decoration/Gears4.svg") 0 0 no-repeat;
}

.gallery__container {
	padding: 100px 87px 354px 87px;
	background-color: #ffffff;
	margin-top: -80px;
	position: relative;
}

.gallery__container::before {
	content: "";
	position: absolute;
	width: 642px;
	height: 450px;
	top: 0;
	right: 0;
	background: url("../img/decoration/Detaildecoration1.svg") 0 0 no-repeat;
}

.gallery__head {
	margin-bottom: 55px;
}

.gallery__text {
	margin-bottom: 54px;
}

.gallery__image {
	position: relative;
}
.gallery__image::before {
	content: "";
	position: absolute;
	z-index: 2;
	top: 30px;
	right: 32px;
	width: 50px;
	height: 30px;
	background: url("../img/gallery/Iconive.svg") 0 0 / 50px no-repeat;
}

.gallery__puppy {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.gallery__streams {
}

/* ------------------------------ */

.streams {
	border-bottom: 1px solid #64616147;
	padding: 0px 0px 15px 0px;
	margin-bottom: 55px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.streams__link {
	color: #02133c;
	position: relative;
	transition: all 0.3s ease 0s;
}
.streams__link:hover {
	color: #c40b0b;
}

.streams__link::before {
	content: "";
	position: absolute;
	top: -5px;
	right: -8px;
	width: 6px;
	height: 6px;
	background-color: #21c613;
	border-radius: 50%;
}

/* ------------------------------ */

.our-customers {
	padding-bottom: 210px;
}

.our-customers__body {
	display: flex;
	margin: 0 -12px;
}

.our-customers__column {
	flex: 0 1 33.333%;
	padding: 0 12px;
}
.our-customers__column:nth-child(n + 2) .our-customers__item {
	background: #ffffff;
	border-radius: 20px;
	padding: 50px 44px 40px;
}

.our-customers__item {
}

.our-customers__subtitle {
	margin-bottom: 33px;
}

.our-customers__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	margin-bottom: 30px;
}

.our-customers__commentator {
	display: flex;
	align-items: center;
	gap: 17px;
}

.our-customers__name {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #02133c;
}

/* ------------------------------ */

.impact {
	padding: 112px 0px 212px 0px;
	position: relative;
	background-color: #02133c;
}

.impact::before {
	content: "";
	position: absolute;
	top: 0;
	right: -50%;
	transform: translate(-50%);
	width: 100%;
	height: 100%;
	background: url("../img/impact/overlayimage.svg") center repeat;
}

.impact__top {
	display: flex;
	color: #ffffff;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 79px;
}

.impact__head {
	flex: 0 1 41%;
}

.impact__title {
	color: #ffffff;
}

.impact__images {
	flex: 0 1 48, 82352941176471;
}

.impact__image {
	width: 100%;
	margin-top: -200px;
}

.impact__row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0 -12px;
}

.impact__column {
	padding: 0px 12px;
	flex: 1 1 25%;
}

.impact__item {
	display: flex;
	align-items: center;
}

.impact__body {
	padding-left: 11px;
}

.impact__number {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #c40b0b;
}

.impact__descr {
	color: #ffffff;
	line-height: 1.5;
}

/* ------------------------------ */

.magna {
	position: relative;
	z-index: 5;
}
.magna__container {
	margin-top: -75px;
}
.magna__body {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	align-items: center;
	min-height: 150px;
	padding: 0px 70px;
}

.magna__text {
	flex: 0 1 54.5%;
	font-weight: 900;
	font-size: 24px;
	line-height: 1.25;
	color: #02133c;
}

.footer__container {
	padding: 88px 0 98px 0;
}

.footer__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__logo {
	flex: 0 0 235px;
}
.logo-info {
}
.logo-info > * {
	margin-bottom: 25px;
}

.logo-info__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
}

.logo-info__social-icons {
	display: flex;
	gap: 18px;
}

.footer__explore {
	flex: 0 1 159px;
}

.explore__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	margin-bottom: 28px;
}
.explore_list .explore__item:not(:last-child) {
	margin-bottom: 11px;
}

.explore__links {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.footer__reviews {
	flex: 0 1 160px;
}
.reviews {
	padding: 39px 0px 0px 0px;
}
.reviewsreviews__list .reviews__item:not(:last-child) {
	margin-bottom: 11px;
}
.reviews__item {
}
.reviews__links {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.footer__contact {
	flex: 0 1 237px;
}
.contact {
}
.contact__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	margin-bottom: 28px;
}
.contact__list .contact__item:not(:last-child) {
	margin-bottom: 16px;
}
.contact__item {
	padding: 0px 0px 0px 34px;
}
.contact__item:nth-child(1) {
	background: url("../img/footer/footer-contact/place_24px.svg") 0 0 no-repeat;
}
.contact__item:nth-child(2) {
	background: url("../img/footer/footer-contact/smartphone_24px.svg") 0 0 no-repeat;
}
.contact__item:nth-child(3) {
	background: url("../img/footer/footer-contact/email_24px.svg") 0 0 no-repeat;
}
.contact__item:nth-child(4) {
	background: url("../img/footer/footer-contact/timer_24px.svg") 0 0 no-repeat;
}
.contact__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #4b4b4b;
	letter-spacing: 0.15px;
}

.copyright {
	background-color: #02133c;
}
.copyright__container {
	max-width: 1080px;
	margin: 0 auto;
	font-weight: 400;
	min-height: 60px;
	font-size: 12px;
	line-height: 18px;
	text-align: right;
	letter-spacing: 0.15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
